@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

:root {
    --a: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 34vw;
    padding: 10px;
}

.left .close {
    display: none;
}

.right {
    width: 66vw;
}

.home .logo img {
    width: 98px;
}

.home ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 15px 3px 2px 3px;
    font-weight: bold;
}

.home ul li img {
    width: 20px;
}

.library {
    min-height: 68vh;
    position: relative;
    overflow-y: auto;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 3px;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 24px;
}

.songList {
    height: 300px;
    overflow: auto;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 10px 0px;
    margin-right: 8px;
    padding: 12px;
    border-radius: 5px;
}

.songList ul li .info {
    font-size: 14px;
    width: 180px;
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 14px;
    width: 66px;
}

.footer {
    display: flex;
    font-size: 9px;
    gap: 12px;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
}

.footer a {
    color: rgb(179, 179, 179);
}

.right {
    margin: 15px 9px 15px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    align-items: center;
    height: 12vh;
}

.header>* {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav svg {
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: transparent;
    color: #656565;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.1s ease-out;
    border: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.loginbtn {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    width: 80px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.loginbtn:hover {
    font-size: 15px;
    font-weight: 900;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h2 {
    margin: 8px 0px;
}

.cardContainer {
    margin: 20px 0px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 55vh;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.card {
    width: 160px;
    padding: 10px;
    border-radius: 8px;
    background-color: #252525;
    position: relative;
    transition: all .5s;
}

.card * {
    padding-top: 3px;
}

.card:hover {
    background-color: rgb(49, 47, 47);
    cursor: pointer;
    --a: 1;
}

.play {
    position: absolute;
    bottom: 90px;
    right: 16px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 28px;
    background-color: rgb(0, 0, 0);
    width: 57vw;
    padding: 10px;
    min-height: 80px;
    border-radius: 8px;
}

.seekbar {
    height: 3px;
    width: 95%;
    background: white;
    position: absolute;
    bottom: 4px;
    cursor: pointer;
    border-radius: 10px;
    margin: 8px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
    cursor: pointer;
    transition: left 0.5s;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.songinfo {
    color: white;
    padding: 0 12px;
    width: 195px;
    margin-bottom: 10px;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.songtime {
    width: 100px;
    color: white;
    padding: 0 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .library {
        min-height: 76vh;
    }
}

@media (max-width: 1030px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .8s;
        z-index: 1;
        width: 425px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        display: block;
        position: absolute;
        right: 31px;
        width: 25px;
        top: 25px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 65px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
        margin-right: 15px;
    }

    .right {
        margin: 0;
    }

    .header {
        border-radius: 0px
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .cardContainer {
        overflow-y: unset;
        margin-bottom: 27vh;
        height: unset;
    }

    .playbar {
        right: 23px;
    }

    .library {
        min-height: 87vh;
    }

    .songList {
        height: 700px;
    }

    .footer {
        display: none;
    }

    .play {
        bottom: 120px;
        right: 30px;
    }

    .play img {
        width: 70px;
    }

    .songinfo {
        text-align: center;
    }
}

@media screen and (max-width: 860px) {
    .library {
        min-height: 77vh;
    }

    .songList {
        height: 425px;
    }

    .footer {
        display: none;
    }

    .left {
        width: 450px;
    }

    .play {
        bottom: 110px;
        right: 25px;
    }

    .play>img {
        width: 80px
    }

    .volume {
        margin-bottom: 14px;
    }

    .cardContainer {
        margin-bottom: 17vh;
    }

    .timevol {
        margin-bottom: 0px;
    }

    .songinfo {
        margin-bottom: 0px;
        text-align: center;
    }

    .songbuttons {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 580px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header {
        padding: 7px;
    }

    .library {
        height: 80vh;
    }

    .left {
        width: 100vw;
    }

    .songList {
        height: 432px;
    }

    .play {
        bottom: 105px;
        right: 20px;
    }

    .play>img {
        width: 60px
    }

    .cardContainer {
        margin-bottom: 25vh;
    }

    .songinfo {
        margin-bottom: 0px;
        text-align: center;
    }

}